@import url('https://fonts.cdnfonts.com/css/wix-madefor-display');

* {
    box-sizing: border-box;
}

:root {
    --darkblue: #1B213C;
    --bluegray: #3181B2;
    --lightblue: #83CAD8;
    --lightgray: #EDEDED;
    --darkgray: #A3A3A3;
    --white: #FFF;
    --yellow: #FFCF2F;
    --lightyellow: #EFD961;
    --green: #8DC63F;
    --darkgreen: #80A450;
    --lightgreen: #95C994;
    --darkestpink: #BB5146;
    --darkpink: #DA7369;
    --lightpink: #FAA299;
    --lightestpink: #FFCCC7;
    --lightpurple: #C0ABD6;
    --darkpurple: #8561AA;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text', sans-serif;
    color: var(--darkblue);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw; 
    height: 100%;                                     
}

.logo {
    margin-left: 10px;
}

header {
    width: 100vw;
    min-height: 60px;
    padding: 1.5rem;
    background-color: var(--darkblue);
    color: var(--white);
    display: flex;
    align-items: center;
}

.hero {
    width: 100vw;
    height: 25rem;
    background-image: url("assets/images/hero/anette_hero_small.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero {
    width: 100vw;
    height: 25rem;
    background-image: url("assets/images/hero/anette_hero_small.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* Vertically centers the over-hero div */
    justify-content: flex-start; /* Aligns the over-hero div to the left */
}

.over-hero {
    color: var(--white);
    filter: drop-shadow(0 0 0.75rem black);
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: var(--darkblue);
}

.hero-text {
    flex: 1; /* Takes up as much space as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.hero-text h1 {
    margin: 0;
}

.empty-middle {
    flex: 1; /* Takes up the remaining space */
}

/* MAIN */
.gray-about-top {
    background-color: var(--lightgray);
    color: var(--darkblue);
    display: flex;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: flex-start; /* Align items at the top */
    justify-content: center;
    padding: 1rem 4rem;
    gap: 1rem;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.gray-about-top > div {
    flex: 1;
    min-width: 200px; /* Set a minimum width for better responsiveness */
    box-sizing: border-box;
    padding: 1rem;
}

/* STICKERS */

.middle-main {
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    background-color: var(--lightgray);
}

.sticker-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    flex-shrink: 0;
    padding-right: 2rem;
}

.sticker {
    height: 150px;
    position: relative;
}

/* PORTFOLIO IN MAIN */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;
}

.portfolio > h2 {
    text-align: center;
}

.portfolio-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.port-box {
    width: 300px;
    height: 450px;
    margin-bottom: 6rem;
}

.port-box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}

.css-mark {
    background-color: var(--lightblue);
    color: var(--white);
    padding: 0.5rem;
}

.html-mark {
    background-color: var(--lightgreen);
    color: white;
    padding: 0.5rem;
}

.js-mark {
    background-color: var(--lightpurple);
    color: white;
    padding: 0.5rem;
}

.github-btn, .deployed-btn {
    color: white;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--bluegray);
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
}

.github-btn:hover {
    background-color: var(--lightestpink);
    color: var(--darkestpink);
}

.deployed-btn:hover {
    background-color: var(--lightblue);
    color: var(--darkblue);
}

.portfolio-btns {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.port-box p {
    padding-bottom: 1rem;
}

.gray-portfolio {
    background-color: var(--lightgray);
}

/* TEA TIME */
.tea-time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.tea-box {
    width: 400px;
    padding: 3rem;
}

.tea-box h2 {
    font-size: 3rem;
    font-weight: 900;
}

.tea-box img {
    width: 250px;
}

.tea-button {
    background-color: var(--lightyellow);
    border: none;
    border-radius: 6px;
    padding: 1rem;
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 200;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: var(--darkblue);
}

/* NAVIGATION */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100vw;
}

header nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

.img-logo {
    height: 2rem;
    display: flex;
}

.desktop-menu {
    display: none;
}

.drop-btn {
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.mobile-drop-btn {
    font-size: 2rem;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--darkblue);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 1rem;
}

.mobile-drop-content {
    left: -4rem;
}

.dropdown-content a:hover {
    background-color: var(--bluegray);
    color: var(--darkblue);
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--darkblue);
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100vw;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.footer-logo {
    width: 55px;
    height: 50px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.socials a i {
    color: var(--white);
    font-size: 2rem;
}

.footer-copyright {
    text-align: center;
    padding-top: 1rem;

}




/* Small (sm) */
@media (max-width: 750px) {

    .hero {
        background-position: -110px center;
    }

    .over-hero {
        padding: 1rem 1rem;
    }

    .sticker-images {
        display: none;
    }

    .sticker-images-mini {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sticker-text {
        max-width: 250px;
    }

    .middle-main {
        flex-direction: column;
    }

    .tea-time {
        flex-direction: column-reverse;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    .tea-box {
        width: 350px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .tea-box img {
        width: 200px;
        margin-left: 30px;
    }

    .gray-about-top {
        flex-direction: column;
        padding: 2rem;
        margin: 0;
    }

    .port-box {
        margin-bottom: 5rem;
    }

    .portfolio {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: flex-start;
        align-content: flex-start;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        text-align: left;
        width: 100%;
    }

    .portfolio > h2 {
        text-align: left;
        width: 100%;
    }

    .portfolio-boxes {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3rem;
    }

}

/* Medium */
@media (min-width: 751px) {

    .sticker-images {
        display: flex;
    }

    .sticker-images-mini {
        display: none;
    }

    .sticker-text {
        max-width: 480px;
    }

}

/* Large */
@media (min-width: 1024px) {

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: block;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    nav {
        max-width: 1600px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    h1 {
        font-size: 4rem;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    .portfolio > h2 {
        text-align: center;
        width: 100%;
    }

}

