@import url('https://fonts.cdnfonts.com/css/wix-madefor-display');

* {
    box-sizing: border-box;
}

:root {
    --darkblue: #1B213C;
    --bluegray: #3181B2;
    --lightgray: #EDEDED;
    --white: #FFF;
    --yellow: #FFCF2F;
    --green: #8DC63F;
    --darkgreen: #80A450;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text', sans-serif;
    color: var(--darkblue);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw; 
    height: 100%;                                     
}

.logo {
    margin-left: 10px;
}

header {
    width: 100vw;
    min-height: 60px;
    padding: 1.5rem;
    background-color: var(--darkblue);
    color: var(--white);
    display: flex;
    align-items: center;
}

.hero {
    width: 100vw;
    height: 25rem;
    background-image: url("assets/images/hero/anette_hero_small.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero {
    width: 100vw;
    height: 25rem;
    background-image: url("assets/images/hero/anette_hero_small.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* Vertically centers the over-hero div */
    justify-content: flex-start; /* Aligns the over-hero div to the left */
}

.over-hero {
    /* background-color: #8DC63F; */
    color: var(--white);
    filter: drop-shadow(0 0 0.75rem black);
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

.hero-text {
    flex: 1; /* Takes up as much space as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.hero-text h1 {
    margin: 0;
}

.empty-middle {
    flex: 1; /* Takes up the remaining space */
}

/* MAIN */

.gray-about-top {
    background-color: var(--lightgray);
    color: var(--darkblue);
    display: flex;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: flex-start; /* Align items at the top */
    justify-content: center;
    padding: 1rem 4rem;
    gap: 1rem;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.gray-about-top > div {
    flex: 1;
    min-width: 200px; /* Set a minimum width for better responsiveness */
    box-sizing: border-box;
    padding: 1rem;
}

/* STICKERS */

.middle-main {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.sticker-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    flex-shrink: 0;
    padding-right: 2rem;
}

.sticker {
    height: 150px;
    position: relative;
}


/* NAVIGATION */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100vw;
}

header nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

.img-logo {
    height: 2rem;
    display: flex;
}

.desktop-menu {
    display: none;
}

.drop-btn {
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.mobile-drop-btn {
    font-size: 2rem;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--darkblue);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 1rem;
}

.mobile-drop-content {
    left: -4rem;
}

.dropdown-content a:hover {
    background-color: var(--bluegray);
    color: var(--darkblue);
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--darkblue);
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100vw;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.footer-logo {
    width: 55px;
    height: 50px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.socials a i {
    color: var(--white);
    font-size: 2rem;
}

.footer-copyright {
    text-align: center;
    padding-top: 1rem;

}




/* Small (sm) */
@media (max-width: 420px) {

    .hero {
        background-position: -110px center;
    }

    .over-hero {
        padding: 1rem 1rem;
    }

    .sticker-images {
        display: none;
    }

    .sticker-images-mini {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sticker-text {
        max-width: 250px;
    }

    .middle-main {
        flex-direction: column;
    }
}

/* Medium */
@media (min-width: 768px) {

    .sticker-images {
        display: block;
    }

    .sticker-images-mini {
        display: none;
    }

    .sticker-text {
        max-width: 480px;
    }

}

/* Medium */
@media (min-width: 868px) {




}

/* Large */
@media (min-width: 1024px) {

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: block;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    nav {
        max-width: 1600px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    h1 {
        font-size: 4rem;
    }

}


/*Extra Large XL */
@media (min-width: 1280px) {



}

/* EXTRA Extra Large - XXL */
@media (min-width: 1440px) {


}